<mat-toolbar color="primary" class="main-header">
  <div class="logo-area" routerLink="/trips">
    <mat-icon class="logo-icon">explore</mat-icon>
    <span class="logo-text">Itinerly</span>
  </div>

  <span class="spacer"></span>

  <div class="user-area">
    <button mat-button [matMenuTriggerFor]="userMenu" class="user-menu-btn">
      <mat-icon iconPositionStart>account_circle</mat-icon>
      <span class="user-name">{{ currentUsername || 'Traveler' }}</span>
      <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu" xPosition="before" class="header-dropdown">
      <!-- <button mat-menu-item routerLink="/profile/edit">
        <mat-icon>edit</mat-icon>
        <span>Edit Profile</span>
      </button>

      <mat-divider></mat-divider> -->

      <button mat-menu-item (click)="onLogout()">
        <mat-icon color="warn">logout</mat-icon>
        <span class="text-warn">Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
